In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/lending-club-loan-data/loan.csv', sep=',')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(42538, 137)

In [4]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount'],
      dtype='object', length=137)

In [5]:
df2 = df[['loan_amnt', 'loan_status', 'grade', 'int_rate', 'term']]

In [6]:
df2.head()

   loan_amnt  loan_status grade int_rate        term
0     5000.0   Fully Paid     B   10.65%   36 months
1     2500.0  Charged Off     C   15.27%   60 months
2     2400.0   Fully Paid     C   15.96%   36 months
3    10000.0   Fully Paid     C   13.49%   36 months
4     3000.0   Fully Paid     B   12.69%   60 months

In [7]:
df2.tail()

,loan_amnt,loan_status,grade,int_rate,term
42533,2525.0,Does not meet the credit policy. Status:Fully ...,B,9.33%,36 months
42534,6500.0,Does not meet the credit policy. Status:Fully ...,A,8.38%,36 months
42535,5000.0,Does not meet the credit policy. Status:Fully ...,A,7.75%,36 months
42536,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN

In [8]:
df2['loan_status'].unique()

array(['Fully Paid', 'Charged Off', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [9]:
df2['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G', nan], dtype=object)

In [10]:
df2['term'].unique()

array([' 36 months', ' 60 months', nan], dtype=object)

In [11]:
df2.shape

(42538, 5)

In [12]:
df2 = df2.dropna(how='any')

In [13]:
df2.shape

(42535, 5)

In [15]:
term_to_loan_amnt_dict = {}
unique_terms = df2['term'].unique()

In [17]:
for term in unique_terms:
    loan_amnt_sum = df2.loc[df2['term'] == term, 'loan_amnt'].sum()
    term_to_loan_amnt_dict[term] = loan_amnt_sum

In [18]:
term_to_loan_amnt_dict

{' 36 months': 300613325.0, ' 60 months': 171088025.0}

In [19]:
term_to_loan_amnt = pd.Series(term_to_loan_amnt_dict)

In [20]:
term_to_loan_amnt

 36 months    300613325.0
 60 months    171088025.0
dtype: float64

In [21]:
df2.head()

   loan_amnt  loan_status grade int_rate        term
0     5000.0   Fully Paid     B   10.65%   36 months
1     2500.0  Charged Off     C   15.27%   60 months
2     2400.0   Fully Paid     C   15.96%   36 months
3    10000.0   Fully Paid     C   13.49%   36 months
4     3000.0   Fully Paid     B   12.69%   60 months

In [22]:
df2['loan_status'].unique()

array(['Fully Paid', 'Charged Off',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [23]:
total_status_category = df2['loan_status'].unique()
bad_status_category = total_status_category[[1,3]]

In [24]:
bad_status_category

array(['Charged Off', 'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [25]:
df2['bad_status_category'] = df2['loan_status'].isin(bad_status_category)

In [26]:
df2.head()

   loan_amnt  loan_status grade int_rate        term  bad_status_category
0     5000.0   Fully Paid     B   10.65%   36 months                False
1     2500.0  Charged Off     C   15.27%   60 months                 True
2     2400.0   Fully Paid     C   15.96%   36 months                False
3    10000.0   Fully Paid     C   13.49%   36 months                False
4     3000.0   Fully Paid     B   12.69%   60 months                False

In [27]:
bad_loan_status_to_grades = df2.loc[df2['bad_status_category'] == True, 'grade'].value_counts()

In [28]:
bad_loan_status_to_grades

B    1518
C    1504
D    1327
E     883
A     610
F     416
G     173
Name: grade, dtype: int64

In [31]:
bad_loan_status_to_grades.sort_index()

A     610
B    1518
C    1504
D    1327
E     883
F     416
G     173
Name: grade, dtype: int64

In [32]:
df2.head()

   loan_amnt  loan_status grade int_rate        term  bad_status_category
0     5000.0   Fully Paid     B   10.65%   36 months                False
1     2500.0  Charged Off     C   15.27%   60 months                 True
2     2400.0   Fully Paid     C   15.96%   36 months                False
3    10000.0   Fully Paid     C   13.49%   36 months                False
4     3000.0   Fully Paid     B   12.69%   60 months                False

In [35]:
bad_loan_status_to_grades.to_csv('bad_loan_status_to_grades.csv', sep=',')